doctype html
html
  head
    title= title

    //- Angular 2.0 scripts
    script(src="./global/vendor/traceur.js")
    script(src="https://code.angularjs.org/tools/system.js")
    script(src="https://code.angularjs.org/2.0.0-alpha.45/angular2.js")
    script(src="https://code.angularjs.org/2.0.0-alpha.45/http.dev.js")
    script(src="https://code.angularjs.org/2.0.0-alpha.45/router.dev.js")

    //- Minified Css
    link(href="./build/global/styles/global-app.min.css" rel="stylesheet")
    link(href="./build/dashboard/styles/dashboard-app.min.css" rel="stylesheet")

  body
   app
   script.
     System.import('./build/dashboard/scripts/app.js');