doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, minimal-ui, user-scalable=0")    

    //- Minified Css
    link(href="./build/global/styles/global-app.min.css" rel="stylesheet")
    link(href="./build/home/styles/home-app.min.css" rel="stylesheet")

    //- Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet')
    link(href="https://cdn.myfontastic.com/ajkCKZcprWV8fCCd7UykoN/icons.css" rel="stylesheet")

    //-Swiper styles
    link(href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.7/css/swiper.css" rel="stylesheet")

    //- Angular 2.0 scripts
    script(src="./global/vendor/traceur.js")
    script(src="https://code.angularjs.org/tools/system.js")
    script(src="https://code.angularjs.org/2.0.0-alpha.45/angular2.js")
    script(src="https://code.angularjs.org/2.0.0-alpha.45/http.dev.js")
    script(src="https://code.angularjs.org/2.0.0-alpha.45/router.dev.js")

    //- Jquery
    script(src="./global/vendor/jquery.min.js")

    //- Swiper
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.7/js/swiper.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.7/js/swiper.jquery.js")


    //- Wait for images to load library
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/1.5.0/jquery.waitforimages.min.js")

    //- Prefetch images
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-0.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-2.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-3.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-4.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-5.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-6.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-7.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-8.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-9.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-10.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-11.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-12.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-13.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-14.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-15.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-16.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-17.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-18.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-19.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-20.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-21.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-22.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-23.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-24.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-25.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-26.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-27.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-28.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-29.png")
    link(rel="prefetch" href="http://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-30.png")


    title= title      

  body#scroll
   app
   script.
     System.import('./build/home/scripts/app.js');