doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1, minimal-ui, user-scalable=0")    

    //- Minified Css
    link(href="./build/global/styles/global-app.min.css" rel="stylesheet")
    link(href="./build/home/styles/home-app.min.css" rel="stylesheet")

    //- Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet')
    link(href="https://cdn.myfontastic.com/ajkCKZcprWV8fCCd7UykoN/icons.css" rel="stylesheet")

    //-Swiper styles
    link(href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.7/css/swiper.css" rel="stylesheet")

    //- Angular 2.0 scripts
    script(src="./global/vendor/traceur.js")
    script(src="https://code.angularjs.org/tools/system.js")
    script(src="https://code.angularjs.org/2.0.0-alpha.45/angular2.js")
    script(src="https://code.angularjs.org/2.0.0-alpha.45/http.dev.js")
    script(src="https://code.angularjs.org/2.0.0-alpha.45/router.dev.js")

    //- Jquery
    script(src="./global/vendor/jquery.min.js")

    //- Swiper
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.7/js/swiper.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.2.7/js/swiper.jquery.js")


    //- Wait for images to load library
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/1.5.0/jquery.waitforimages.min.js")

    //- Meta tags
    meta(property="og:image" content="https://dribbble.com/shots/2418842-Personal-Site-Reworked/attachments/468881")
    meta(name="twitter:image:src" content="https://dribbble.com/shots/2418842-Personal-Site-Reworked/attachments/468881")
    meta(name="twitter:card" content="Yash's Portfolio")
    meta(name="twitter:site" content="@yashsaxena")
    meta(name="twitter:description" content="Entrepreneur - Developer - Designer")
    meta(name="twitter:title" content="Yash's Portfolio")
    meta(name="description" content="Entrepreneur - Developer - Designer")
    meta(property='og:url' content='http://yash-saxena.com')
    meta(property="og:title" content="Yash's Portfolio")
    meta(property="og:description" content="Entrepreneur - Developer - Designer")
    meta(itemprop="description" content="Entrepreneur - Developer - Designer")
    meta(itemprop="name" content="Yash's Portfolio")    

    title= title      

  body#scroll
   app
   script.
     System.import('./build/home/scripts/app.js');