<div class="about-container">
	<div class="overlay"></div>
	<div class="about-banner">
		<div class="content"
			[ng-class] = "{
				'fade-in' : (scrollTop > (windowHeight - 200))
			}"
		>
			<p>My name is Yash Saxena. I am <span>21 YEARS OLD</span> and I live in <span>Atherton, CA</span>. I have been professionally developing for <span>2.5 years</span>. I went to high school and university in <span>Canada</span>. At the end of my senior high school year I was accepted to the <span>Royal College of Surgeors</span> in Ireland. I decided to postpone that decision and go try out university in Canada prior to making my final decision. I went to the <span>University of Wifrid Laurier for Health Sciences</span>. After 3 semesters I decided to take time off school to come to California and work as a web developer. I joined Stanza as a Full stack developer. I have been here at Stanza for a <span>year and half</span>, now I am the <span>Lead Frontend Developer</span>, managing a very talented team. </p>			
		</div>
	</div>
</div>