<div class="mobile-view-container">
	<div class="banner">
		<div class="overlay"></div>
		<div class="gradient"></div>
		<p class="heading">YASH SAXENA</p>
		<div class="line"></div>
		<p class="sub-heading">ENTREPRENER - DEVELOPER - DESIGNER</p>
		<div class="tail"></div>
		<div class="head icon-downarrow"></div>
	</div>
	<div class="about">
		<p class="main-heading">ABOUT</p>
    	<p class="sub-heading">LEARN A BIT ABOUT ME</p>
		<p class="text">My name is Yash Saxena. I am <span>21 YEARS OLD</span> and I live in <span>Atherton, CA</span>. I have been professionally developing for <span>2.5 years</span>. I went to high school and university in <span>Canada</span>. At the end of my senior high school year I was accepted to the <span>Royal College of Surgeors</span> in Ireland. I decided to postpone that decision and go try out university in Canada prior to making my final decision. I went to the <span>University of Wifrid Laurier for Health Sciences</span>. After 3 semesters I decided to take time off school to come to California and work as a web developer. I joined Stanza as a Full stack developer. I have been here at Stanza for a <span>year and half</span>, now I am the <span>Lead Frontend Developer</span>, managing a very talented team. </p>
	</div>
	<div class="work">
		<div class="overlay"></div>
		<div class="gradient"></div>

		<div class="swiper-container">
		    <!-- Additional required wrapper -->
		    <div class="swipe-instructions">
		    	<p class="main-heading">WORK</p>
		    	<p class="sub-heading">SWIPE THROUGH MY PORTFOLIO</p>
		    	<img src="https://www.design19.org/images/blitz/swipe_icon.png">
		    </div>
		    <div class="swiper-wrapper">
		        <!-- Slides -->
		        <div class="swiper-slide"
		        	*ng-for = "#project of projects; #i=index"
		        >
		        	<p class="heading">{{project.heading}}</p>
		        	<p class="stack">{{project.stack}}</p>
		        	<p class="details">{{project.subHeading}}</p>
		        	<button 
		        		[ng-style] = "{
		        			'display' : project.link ? 'inline-block' : 'none'
		        		}"
		        		(click)="goTo(project.link)">SEE IT LIVE!
		        	</button>
		        	<button 
		        		[ng-style] = "{
		        			'display' : project.dribbble ? 'inline-block' : 'none'
		        		}"
		        		(click)="goTo(project.dribbble)">DRIBBBLE
		        	</button>
		        </div>
		    </div>
		    <!-- If we need pagination -->
		    <div class="swiper-pagination"></div>
		    
		</div>
		<div class="mobile-contact-card">
			<p class="main-heading">CONTACT</p>
			<p class="sub-heading">WILLING TO DO CONTRACT WORK</p>
			<button (click) = "sendMail()">SEND EMAIL</button>
		</div>		
	</div>


</div>