.mobile-view-container {
  position: relative;
  height: auto;
  display: block;
  color: white;
}

.mobile-view-container > .banner,
.mobile-view-container > .about {
  position: relative;
  height: auto;
  text-align: center;
  z-index: 1;
}


/* Banner */

.mobile-view-container > .banner {
  padding: 180px 0 120px 0;
  background: url("https://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-4.png");
  background-size: cover;
}

.mobile-view-container > .banner > .overlay,
.mobile-view-container > .banner > .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobile-view-container > .banner > .overlay {
  background: black;
  opacity: 0.65;
}

.mobile-view-container > .banner > .gradient {
  background: black;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000', GradientType=0);
}

.mobile-view-container > .banner > .heading {
  position: relative;
  color: white;
  font-size: 35px;
  font-weight: 100;
  height: 35px;
  margin: 0;
}

.mobile-view-container > .banner > .line {
  position: relative;
  height: 2px;
  width: 50px;
  margin: 10px auto 20px;
  background: #fff;
  background: rgba(238, 238, 238, .1);
  position: relative;
}

.mobile-view-container > .banner > .sub-heading {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
}

.mobile-view-container > .banner > .tail {
  position: relative;
  width: 1px;
  background: white;
  height: 50px;
  margin: auto;
}

.mobile-view-container > .banner > .head {
  color: #fff;
  font-size: 10px;
  position: relative;
  top: -5px;
}


}

/* About */
.mobile-view-container > .about {
  background: black;
  padding: 40px 30px;
  z-index: 1;
}
.mobile-view-container > .about > .text {
  font-weight: 100;
  letter-spacing: .2em;
  line-height: 1.5em;
  font-style: italic;
  max-width:600px;
  margin:auto;
}
.mobile-view-container > .about > .text > span {
  color: #22c1ee;
  text-transform: uppercase;
}

/* Work */
.mobile-view-container > .work {
  position: relative;
  height: auto;
  background: url("https://dff2h0hbfv6w4.cloudfront.net/ZAXSCDVF12345/backgrounds/low-poly-texture-4.png");
  background-size: cover;
  top:-4px;
}
.mobile-view-container > .work > .overlay,
.mobile-view-container > .work > .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mobile-view-container > .work > .overlay {
  background: black;
  opacity: 0.65;
}
.mobile-view-container > .work > .gradient {
  background: black;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0, rgba(255, 255, 255, 0) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000', GradientType=0);
}

/* Swipe instructions */
.swipe-instructions {
    position: relative;
    padding: 30px 0 0 0;
    text-align: center;  
}
.swipe-instructions > p {
  font-weight:100;
}
.swipe-instructions > span {
  color:white;
}
.swipe-instructions > img {
    width: 24px;
    margin-top: 20px;  
}
/* Portfolio slideshow */
.swiper-container {
  width: 100%;
  height: 650px;
}

/* Overwrite the style for the next and previous buttons in the slider*/
.swiper-button-prev,
.swiper-button-next {
  display: none;
}

/* The individual slides */
.swiper-slide {
  text-align: center;
}

/* Project Heading Stack and Details */
.swiper-slide .heading {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  padding-top: 40px;
  margin: 10px;
  height: auto;
  line-height: 1.3em;
}

.swiper-slide .stack,
.swiper-slide .details {
  letter-spacing: .1em;
  line-height: 1.5em;
  font-style: italic;
  width: 90%;
  margin: auto;
  max-width:600px;
}
.swiper-slide .stack {
  text-align: center;
  color: #22c1ee;
  color: #22c1ee;
  font-size: 12px;
}
.swiper-slide .details {
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom:20px;
}

.swiper-slide button {
    position: relative;
    display: block;
    color: #fff;
    height: 40px;
    width: 180px;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
    margin: 10px auto;
    transition: .4s;  
}

.swiper-pagination-bullet {
	background:white !important;
}

.swiper-pagination-bullet-active {
	background:#22c1ee !important;
}

.swiper-container-cube {
    overflow: visible;
    border-top: 1px solid black;
}
/* Contact Card */
.mobile-view-container > .work > .mobile-contact-card {
  position: relative;
  padding:100px 0;
}

.mobile-contact-card .heading {
    text-align: center;
    font-size: 14px;
    height: auto;
    font-weight: 100;
    z-index: 1;
    position: relative;
}
.mobile-contact-card button {
    position: relative;
    display: block;
    color: #fff;
    height: 40px;
    width: 180px;
    border: 1px solid #fff;
    font-weight: 600;
    cursor: pointer;
    margin: 10px auto;
    transition: .4s; 
    display: block;
    height: 40px;
    border: 1px solid #fff;     
}

@media(min-width:430px) {
  .swiper-container {
    width: 100%;
    height: 480px;
  }  
  .swiper-slide button {
    display: inline-block;
    margin:20px 10px;
  }
}
@media(min-width:1025px) {
  .mobile-view-container {
    display: none;
  }
}
